@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: #0A7D15 ;
}
.card{
width: 400px;
height: 400px;
border: 10px black;
border-radius: 5px;
margin: 25px auto;
background: white;
font-size: 40px;
position:relative;
}
.u sexp{
top: 50px;
left: 50px;
position:absolute;
}
.down{
bottom: 20px;
right: 20px;
position: absolute;
transform:rotate(180);
}
.number{
font-size: 150px;
}